# Virtual environments
.venv/
.envrc.*

# Python cache
**/__pycache__
**/*.pyc
*.pyo
*.pyd

# Environment files
.env
.envrc

# Logs
logs/
*.log

# Miscellaneous
.git
.gitignore
.vscode
.idea
node_modules/

# Exec
start.sh

README.md